.App {
  text-align: center;
  padding: 50px;
}

button {
  padding: 12px;
  font-size: 20px;
  color: #ddd;
  width: 240px;
  background: #d32;
  cursor: pointer;
  border-radius: 25px;
}

.read {
  background: green;
}

input {
  padding: 12px;
  font-size: 20px;
  margin: 20px;
}